* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --primarycoloryellow: rgb(255, 210, 0);
    --primarycolorblack: rgb(31,31,31);
    --primarycolorwarmgray: rgb(215, 210, 203);
    --backgroundcolorlight: rgb(245,245,245);
    --foregroundcolor: #E8E5E2;
    --foregroundcolorhover: #F2F1F0;
    --focuscolor: orange;
    --focusoutline: .15em solid var(--focuscolor);
    --mainfont: "FSLucas regular", sans-serif;
    --mainfontsemibold: "FSLucas semi bold", sans-serif;
    --mainfontbold: "FSLucas extra bold", sans-serif;
    --mobiletextpadding: 0 0.5em;
}

@font-face {
    font-family: "FSLucas regular";
    src: url(fonts/FSLucas-Regular.otf);
}

@font-face {
    font-family: "FSLucas semi bold";
    src: url(fonts/FSLucas-SemiBold.otf);
}

@font-face {
    font-family: "FSLucas extra bold";
    src: url(fonts/FSLucas-ExtraBold.otf);
}

body {
    background-color: var(--backgroundcolorlight);
    overflow-x: hidden;
}

main {
    margin: 0;
}

h1 {
    font-family: var(--mainfontsemibold);
    font-size: 2.5em;
}

h2 {
    font-family: var(--mainfontsemibold);
    font-size: 2em;
}

h3 {
    font-family: var(--mainfont);
    font-size: 1.5em;
}

p {
    font-family: var(--mainfont);
    max-width: 30em;
}

ul {
    list-style: none;
    padding: 0;
}

a:focus-visible {
    outline: var(--focusoutline);
}

button:focus-visible {
    outline: var(--focusoutline);
    display: block;
    outline-offset: 0.35em;
    border-radius: 0.8em;
    transition-duration: 200ms;
}

a {
    font-family: var(--mainfont);
    text-decoration: none;
    color: white;
}

header {
    margin-bottom: 4rem;
    z-index: 10;
}

header:has(.burger-menu-dropdown.active) {
    margin-bottom: 0;
}

.nav-header {
    /* z-index heeft pas effect wanneer het element een position heeft */
    z-index: 10;
    position: relative; 
    background-color: var(--primarycolorblack);

        & ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 0;
        }

        li:first-child {
            margin-right: auto;
            
            & img {
                height: 7vh;
            }
        }

        li {
            padding-right: 1em;

            & img {
                height: 3vh;
            }
        }
    }

.burger-menu-dropdown {
    margin-top: -15em;
    transition: margin-top 0.3s cubic-bezier(0.000, 1.225, 1.000, 0.930);
    /* z-index heeft pas effect wanneer het element een position heeft */
    z-index: 5;
    position: relative;

    & ul {
        display: flex;
        flex-direction: column;
        background-color: var(--primarycolorblack);
        width: 100vw;
    }

    li {
        display: flex;
        justify-content: center;
        padding: 0.5em 0;
        margin: 0;
    }

    li:first-child {
        display: none;
    }

    a {
        border-radius: 0.5em;
        outline-offset: 0.2em;
    }
}

.not-working-link a {
    color: gray;
}

.burger-menu-dropdown.active {
    margin-top: 0;
}

.listening {
    font-family: var(--mainfont);
    padding: var(--mobiletextpadding);

    & h1 {
        font-family: var(--mainfontsemibold);
        font-size: 2.5em;
    }

    p {
        max-width: 30em;
    }
}

.app-promo {
    background-color: white;
    display: flex;
    justify-content: center;

    & img {
        min-width: 10em;
        max-width: 20em;
        padding: 1em;
    }
}

.programs, .missed, .featured {
    font-family: var(--mainfont);
    padding: var(--mobiletextpadding);

    & h2 {
        font-family: var(--mainfontsemibold);
        font-size: 2em;
    }

    ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        list-style: none;
        justify-content: start;
        padding: 1.5em 0;
        padding-left: 1em;
        gap: 1em;
    }

    li {

        & img {
            max-width: 47.5vw;
        }
    }

    a {
        display: block;
        outline-offset: 0.5em;
        border-radius: 0.8em;
        transition-duration: 200ms;
    }
}

.missed {
    padding: var(--mobiletextpadding);
    padding-bottom: 1em;

    & h2 {
        font-family: var(--mainfontsemibold);
        font-size: 2em;
    }

    ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        list-style: none;
        justify-content: start;
        padding: 1.5em 0;
        padding-left: 1em;
        gap: 1em;
    }

    li {
        
        & img {
            max-width: 47.5vw;
        }
    }
}

.live-radio {
    padding: var(--mobiletextpadding);
    padding-left: 1.5em;

    & .current-live {
        padding-top: 0.5em;
        gap: 1em;
        display: grid;
        grid-template-areas: 
        "leftarea topright"
        "leftarea bottomright";


        & img {
            max-width: 47.5vw;
            grid-area: leftarea;
        }

        p {
            grid-area: topright;
        }
    }

    .live-buttons {
        grid: bottomright;
        gap: 0.5em;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */

        & audio {
            display: none;
        }
    
        .hide {
            display: none;
        }
    
        .play-radio, .watch-radio {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 10em;
            height: 4em;
            margin-bottom: 1em;
        }

        .play-radio-svg, .play-radio-text {
            position: absolute;
            z-index: 20;
        }

        .play-radio-text {
            padding-left: 3em;
            background-color: var(--backgroundcolorlight);
            z-index: 15;
        }

        .pause-radio-svg, .pause-radio-text {
            position: absolute;
            z-index: 10;
        }

        .pause-radio-text {
            padding-left: 3em;
        }
    
        button {
            border-radius: 0;
            border: 0.1em solid black;
            background-color: var(--backgroundcolorlight);
            color: var(--primarycolorblack);
        }

        button:hover {
            background-color: var(--foregroundcolorhover);
            cursor: pointer;
        }

        button:focus-visible {
            border-radius: 0.5em;
        }

        
    }
}

footer {
    margin-top: 1em;
    padding-bottom: 1em;
    background-color: var(--primarycolorblack);
    color: white;

    & .qr-codes {
        padding: 1em 0.5em;
        display: flex;
        gap: 5vw;

        & img {
            max-width: 15vw;
            border-radius: 0.5em;
        }

        a {
            display: block;
            outline-offset: 0.3em;
            border-radius: 0.8em;
            transition-duration: 200ms;
        }
    }

    ul {
        padding: var(--mobiletextpadding);
        list-style: none;

        & li {
            padding-top: 0.5em;
        }

        a {
            font-family: var(--mainfont);
            text-decoration: none;
            color: white;
            outline-offset: 0.5em;
            border-radius: 0.8em;
            transition-duration: 200ms;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    picture {
        display: flex;
        justify-content: center;
        margin-top: 1em;

        & img {
            min-width: 20em;
            max-width: 30em;
            padding: 1em;
        }
    }
}

@media (min-width: 450px) {
    .programs, .missed, .featured {

    & li {
    
        & img {
            max-width: 12em;
        }
    }
    }
}

@media (min-width: 620px) {
    /* code vraag */
    .live-buttons {
        display: flex;
    }

    /* heading */
    .nav-header {
        display: none;
    }

    .burger-menu-dropdown {
        margin: 0;

        & ul {
            flex-direction: row;
            gap: 2em;
            justify-content: end;
            align-items: center;
            padding-right: 2em;
        }

        li:first-child {
            margin-right: auto;
            display: block;
            
            & img {
                height: 7vh;
            }
        }
    }
}

@media (min-width: 960px) {

    main {
        margin: 1em 8vw;
    }

    .app-promo {

        & img {
            max-width: 30em;
        }
    }

    .featured {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }

    .current-live {
        justify-content: center;

        & img {
        width: 20em;
        }
    }
}
