* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primarycoloryellow: rgb(255, 210, 0);
    --primarycolorblack: rgb(31,31,31);
    --primarycolorwarmgray: rgb(215, 210, 203);
    --backgroundcolorlight: rgb(245,245,245);
    --mainfont: "FSLucas regular", sans-serif;
    --mainfontsemibold: "FSLucas semi bold", sans-serif;
    --mainfontbold: "FSLucas extra bold", sans-serif;
    --mobiletextpadding: 0 0.5em;
}

@font-face {
    font-family: "FSLucas regular";
    src: url(fonts/FSLucas-Regular.otf);
}

@font-face {
    font-family: "FSLucas semi bold";
    src: url(fonts/FSLucas-SemiBold.otf);
}

@font-face {
    font-family: "FSLucas extra bold";
    src: url(fonts/FSLucas-ExtraBold.otf);
}

body {
    background-color: var(--backgroundcolorlight);
    overflow-x: hidden;
}

h1 {
    font-family: var(--mainfontsemibold);
    font-size: 2.5em;
}

h2 {
    font-family: var(--mainfontsemibold);
    font-size: 2em;
}

h3 {
    font-family: var(--mainfont);
    font-size: 1.5em;
}

p {
    font-family: var(--mainfont);
    max-width: 30em;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    font-family: var(--mainfont);
    text-decoration: none;
    color: white;
}

header {
    margin-bottom: 4rem;
    z-index: 10;
}

header:has(.burger-menu-dropdown.active) {
    margin-bottom: 0;
}

.nav-header {
    /* z-index heeft pas effect wanneer het element een position heeft */
    z-index: 10;
    position: relative; 
    background-color: var(--primarycolorblack);

        & ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 0;
        }

        li:first-child {
            margin-right: auto;
            
            & img {
                height: 7vh;
            }
        }

        li {
            padding-right: 1em;

            & img {
                height: 3vh;
            }
        }
    }

.burger-menu-dropdown {
    margin-top: -15em;
    transition: margin-top 0.3s cubic-bezier(0.000, 1.225, 1.000, 0.930);
    /* z-index heeft pas effect wanneer het element een position heeft */
    z-index: 5;
    position: relative;

    & ul {
        display: flex;
        flex-direction: column;
        background-color: var(--primarycolorblack);
        width: 100vw;
    }

    li {
        display: flex;
        justify-content: center;
        padding: 0.5em 0;
        margin: 0;
    }
}

.burger-menu-dropdown.active {
    margin-top: 0;
}

.listening {
    font-family: var(--mainfont);
    padding: var(--mobiletextpadding);

    & h1 {
        font-family: var(--mainfontsemibold);
        font-size: 2.5em;
    }

    p {
        max-width: 30em;
    }
}

.app-promo {
    background-color: white;
    display: flex;
    justify-content: center;

    & img {
        min-width: 20em;
        max-width: 30em;
        padding: 1em;
    }
}

.programs, .missed, .featured {
    font-family: var(--mainfont);
    padding: var(--mobiletextpadding);

    & h2 {
        font-family: var(--mainfontsemibold);
        font-size: 2em;
    }

    ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        list-style: none;
        justify-content: start;
        padding: 1.5em 0;
        padding-left: 1em;
        gap: 1em;
    }

    li {

        & img {
            max-width: 47.5vw;
        }
    }
}

.missed {
    padding: var(--mobiletextpadding);
    padding-bottom: 1em;

    & h2 {
        font-family: var(--mainfontsemibold);
        font-size: 2em;
    }

    ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        list-style: none;
        justify-content: start;
        padding: 1.5em 0;
        padding-left: 1em;
        gap: 1em;
    }

    li {
        
        & img {
            max-width: 47.5vw;
        }
    }
}

.live-radio {
    padding: var(--mobiletextpadding);

    & .current-live {
        padding-top: 0.5em;
        display: flex;
        gap: 1em;
        justify-content: center;

        & img {
            max-width: 30vw;
        }
    }

    .live-button-area {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }

    button.live-button {
        background-color: var(--backgroundcolorlight);
        color: black;
        border: 0.3vw solid var(--primarycolorwarmgray);
        font-family: var(--mainfontsemibold);
        font-size: 2em;
        width: 60vw;
    }
}

footer {
    margin-top: 1em;
    padding-bottom: 1em;
    background-color: var(--primarycolorblack);
    color: white;

    & .qr-codes {
        padding: 1em 0.5em;
        display: flex;
        gap: 5vw;

        & img {
            max-width: 15vw;
            border-radius: 0.5em;
        }
    }

    ul {
        padding: var(--mobiletextpadding);
        list-style: none;

        & li {
            padding-top: 0.5em;
        }

        a {
            font-family: var(--mainfont);
            text-decoration: none;
            color: white;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    picture {
        display: flex;
        justify-content: center;
        margin-top: 1em;

        & img {
            min-width: 20em;
            max-width: 30em;
            padding: 1em;
        }
    }
}

@media (min-width: 450px) {
    .programs, .missed, .featured {

    & li {
    
        & img {
            max-width: 12em;
        }
    }
    }
}

@media (min-width: 960px) {
    body {
        display: grid;
        grid-template-areas: 
        'top top'
        'left right'
        'bottom bottom';
        gri
    }

    header {
        grid-area: 'top';
    }

    .listening, .app-promo, .programs, .missed, .live-radio {
        grid-area: 'left';
    }

    .featured {
        grid-area: 'right';
        display: flex;
        flex-direction: column;
    }

    footer {
        grid-area: 'bottom';
    }
}
